name: Terraform Plan with Slack

on:
  workflow_dispatch:
  push:
    branches:
      - feature/slack-notify

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color > plan_output.txt

      - name: Send plan result to Slack
        if: always()
        run: |
          PLAN=$(cat plan_output.txt)
          curl -X POST -H 'Content-type: application/json' \
            --data "{\"text\":\":construction: Terraform Plan Result:\n\`\`\`${PLAN}\`\`\`\"}" \
            ${{ secrets.SLACK_WEBHOOK_URL }}
